<!-- Login Modal -->
<div ng-app="developer-signup" class="developer-signup portfolio-modal modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="mbttm10">Good to see you again.</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <nsj-developer-signup></nsj-developer-signup>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>