<div id="top-bar">
    <header id="header">
        <div class="logo"><a href="#" title="NotSomeJobBoard.com"><img src="images/logo.svg" width="370" height="120px" alt="NotSomeJobBoard.com"></a></div>
        <div class="btn-signup pull-left"><a href="#">Sign Up</a></div>
        <div class="btn-signup btn-signin pull-right"><a href="#">Sign in</a></div>
    </header>
</div>
<!--/top-bar-->


<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-default">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header page-scroll">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="/">NotSomeJobboard.com</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<% if(user) {%>-->
                <!--<li><a href="#">Hey, <%= user.givenName %></a></li>-->
                <!--<li><a href="/dashboard">My Dashboard</a></li>-->
                <!--<li><a href="/logout">Logout</a></li>-->
                <!--<%} else { %>-->
                <!--<li class="hidden">-->
                    <!--<a href="#page-top"></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/join/recruiter">For Recruiters</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="/join">Get me a job</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#login" class="portfolio-link" data-toggle="modal">Login</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/contact">Contact</a>-->
                <!--</li>-->
                <!--<%} %>-->

            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->