<!DOCTYPE html>
<html>
	<head>
		<title>WhenRecruited.com</title>
	</head>
	<body>
		<form method="post" action="/api/candidate">
			<input type="text" placeholder="First Name" name="firstName">
			<br />
			<input type="text" placeholder="Last Name" name="lastName">
			<br />		
			<input type="text" placeholder="Email Address" name="emailAddress">
			<br />
			<input type="text" placeholder="Username" name="username">
			<br />
			<input type="password" placeholder="Password" name="password">
			<br />			 	
			<br />			
			<br />
			<input type="text" placeholder="Salary/Rate?" name="compensation">
			<br />
			<input type="text" placeholder="Location?" name="location">
			<br />
			<input type="text" placeholder="Tech Stack?" name="stack">
			<br />
			<input type="submit">
		</form>
	</body>
</html>