<!DOCTYPE html>
<html>
	<head>
		<title>WhenRecruited.com</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
		<link rel="stylesheet" type="text/css" href="css/foundation.css">
	</head>
	<body>
		<nav class="top-bar" data-topbar role="navigation">
			<header>
				<a href="/" style="color: #fff;">Welcome to WhenRecruited.com</a>
			</header>
		</nav>
		<div style="text-align: center; margin-top: 140px;">
			<h3>Thank you!</h3>
			<h6>Please confirm your email address.</h6>
			<p style="font-size: 20px;">Click the link in the email that was forwarded to your account.</p>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/libs.js"></script>
	</body>
</html>