<!DOCTYPE html>
<html>
	<head>
		<title>WhenRecruited.com</title>
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<link rel="stylesheet" type="text/css" href="/css/foundation.css">
	</head>
	<body>
		<div id="log-in" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		  <h2 id="modalTitle">Awesome. I have it.</h2>
		  <p class="lead">Your couch.  It is mine.</p>
		  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
		  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>
		<nav class="top-bar" data-topbar role="navigation">
			<header>
				<% if(user) { %> 
					<a href="/logout" style="float: right; color: #fff; font-size: 13px; padding-right: 15px;">Log Out</a>
					<a style="float: right; color: #fff; font-size: 13px; padding-right: 15px;" href="/dashboard/candidate/<%= user._id %>">Hi, <%= user.firstName %></a>
				<% } else { %>
					<a href="/login" data-reveal-id="log-in" style="float: right; color: #fff; font-size: 13px; padding-right: 20px;">Log In</a>
				<% } %>
				<a href="/" style="color: #fff;">Welcome to WhenRecruited.com</a>
			</header>
		</nav>
		<% if(message.length) { %>
		<div data-alert class="alert-box">
		  <h5 style="color:#fff"><%= message %></h5>
		</div>
		<% }%>
		<div class="candidate-signin">
			<h4>Just a form away from job hunting bliss ...</h4>
			<form method="post" action="/api/candidate">
				<input type="text" placeholder="First Name" name="firstName">
				<input type="text" placeholder="Last Name" name="lastName">
				<input type="text" placeholder="Email Address" name="emailAddress">
				<input type="text" placeholder="Username" name="username">
				<input type="password" placeholder="Password" name="password">

				<input type="text" placeholder="Salary/Rate?" name="compensation">
				<input type="text" placeholder="Location?" name="location">
				<input type="text" placeholder="Tech Stack?" name="stack">
				<button type="submit">Sign Up!</a>
			</form>
		</div>
		<div class="recruiter-signin">
			<h2>Are you a recruiter?</h2>
			<a href="#">Why yes, yes I am ...</a>
		</div>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/libs.js"></script>
	</body>
</html>