<!DOCTYPE html>
<html>
	<head>
		<title>WhenRecruited.com</title>
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<link rel="stylesheet" type="text/css" href="/css/foundation.css">
	</head>
	<body>
		<nav class="top-bar" data-topbar role="navigation">
			<header>
				<a href="/" style="color: #fff;">Welcome to WhenRecruited.com</a>
			</header>
		</nav>
		<% if(errors.length) { %>
		<div data-alert class="alert-box alert">
		  <h5 style="color:#fff"><%= errors %></h5>
		</div>
		<% }%>
		<% if(message.length) { %>
		<div data-alert class="alert-box">
		  <h5 style="color:#fff"><%= message %></h5>
		</div>
		<% }%>
		<br />
		<br />
		<div class="row">
			<div class="columns small-6">
				<h2>Candidate Login</h2>
				<form action="/login/candidate" method="post">
					<input type="text" name="emailAddress" placeholder="Email Address" />
					<br />
					<input type="password" name="password" placeholder="Password" />
					<br />
					<button type="submit">Log In</a>
				</form>
			</div>
			<div class="columns small-6">
				<h2>Recruiter Login</h2>
				<form action="/login/recruiter" method="post">
					<input type="text" name="username" placeholder="Name" />
					<br />
					<input type="password" name="password" placeholder="Password" />
					<br />
					<button type="submit">Log In</a>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/libs.js"></script>
	</body>
</html>