<!DOCTYPE html>
<html>
	<head>
		<title>WhenRecruited.com</title>
	</head>
	<body>
		<form method="post" action="/api/review">
			<input type="text" placeholder="Rating" name="rating">
			<br />		
			<input type="text" placeholder="Where did you interview?" name="employer">
			<br />
			<input type="text" placeholder="Recruiter ID" name="recruiterId">
			<br />
			<input type="text" placeholder="Written By" name="writtenBy">
			<br />			
			<textarea name="review">
				Please tell us about your experience ...
			</textarea>
			<input type="submit">
		</form>
	</body>
</html>