<% include ./partials/head %>
<link rel="stylesheet" href="/vendor/toastr/toastr.min.css" />
<body ng-app="dashboard" id="dashboard">
<!-- Join -->
<!-- Navigation -->
<% if(locals.user) { %>
<script type="text/javascript">
    window.user = window.exports || {};
    window.user.currentUser = <%- JSON.stringify(user._id) %>
</script>
<% } %>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript://">NotSomeJobboard.com</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if(locals.user) { %>
                <li><a href="#">Hello <%= user.givenName %></a></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="dashboard-container container-fluid">
    <nsj-developer-dashboard></nsj-developer-dashboard>
</div>

<!-- jQuery -->
<script src="/vendor/jQuery/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery.easing/js/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/freelancer.js"></script>

<script src="/vendor/lodash/dist/lodash.min.js"></script>

<script src="/vendor/angular/angular.min.js"></script>

<script src="/vendor/angular-toastr/dist/angular-toastr.tpls.js"></script>

<script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="/vendor/angular-input-masks/angular-input-masks-standalone.min.js"></script>

<script src='/vendor/angular-google-maps/dist/angular-google-maps.min.js'></script>

<script src="/dashboard/app.module.js"></script>

<script src="/dashboard/dashboard.service.js"></script>

<script src="/dashboard/nsjDeveloperDashboard.js"></script>


<script src='/vendor/toastr/toastr.min.js'></script>
<script type="text/javascript">
    toastr.options.extendedTimeOut = 0; //1000;
    toastr.options.timeOut = 2000;
    toastr.options.fadeOut = 250;
    toastr.options.fadeIn = 0;
</script>

<!-- TODO: Make API KEY a server variable -->
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyBZnGkLJ3KtI-ZMBWmzMbpUjLFnoA1ej8s"></script>
</body>
