<h1>New</h1>

<form method="post" action="/api/developer/add">
    <fieldset class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" name="givenName" placeholder="First Name">
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="text" class="form-control" name="familyName" placeholder="Last Name">
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" class="form-control" name="primaryEmail" placeholder="Enter email">
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </fieldset>
    <input type="submit" value="Submit" />
</form>