<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1220">
    <link href="fonts/fonts.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>NotSomeJobboard.com</title>
    <script src="//load.sumome.com/" data-sumo-site-id="93f3436ce78547e41dadc6a76e716ef221f5515160de28cfda1076ab5f681f76" async="async"></script>
    <link rel="icon" href="favicon.ico?" type="image/x-icon">
</head>
<body id="home">
<div class="container" id="section1">
    <div id="top-bar">
        <header id="header">
            <div class="logo"><a href="#" title="NotSomeJobBoard.com"><img src="images/logo.svg" width="370" height="120px" alt="NotSomeJobBoard.com"></a></div>
            <div class="btn-signup pull-right"><a href="/join">Sign Up</a></div>
            <!-- div class="btn-signup btn-signin pull-right"><a href="#">Sign in</a></div -->
        </header>
    </div>
    <!--/top-bar-->
    <section class="page-wrap">
        <div class="row">
            <div class="col1">
                <h1 class="slogan"><em>I love recruiter email spam</em> <span>-said no UI developer ever</span></h1>
                <p class="sub-heading"><b>A <span>no-bullshit-recruiter-filtering-make-life-easier</span> resource for front end deveopers. <br/> <br/>One text message that includes client name, pay, and estimated commute then decide if your contact info is provided. </p>
                <div class="btn-getstarted"><a href="/join">Get Started</a></div>
            </div>
        </div>
        <!--/row-->
    </section>
    <!--/section1-wrap-->
</div>
<!--/section1 container -->
<div class="container" id="section2">
    <section class="page-wrap text-center">
        <h2 class="headline" style="margin-bottom:51px;">Why NotSomeJobBoard.com?</h2>
        <div class="row">
            <div class="col2">
                <div class="icon"><img src="images/ico01.png" alt="Know the pay and location."/></div>
                <p>Know the pay and location.</p>
                <p class="sub-heading">
                    No more guessing before a recruiter call</p>
            </div>
            <div class="col3">
                <div class="icon"><img src="images/ico02.png" alt="In a meeting? Reply via text."/></div>
                <p>In a meeting? Reply via text.</p>
                <p class="sub-heading">“Sure” or “Nah”</p>
            </div>
            <div class="col4">
                <div class="icon"><img src="images/ico03.png" alt="No clumsy resume formats."/></div>
                <p>No clumsy resumes.</p>
                <p class="sub-heading">
                    Just
                    enough info to spark
                    the conversation.</p>
            </div>
        </div>
        <!--/row-->
        <div class="row row-center">
            <div class="col5">
                <div class="icon"><img src="images/ico04.png" alt="No job listings" style="margin-top: 60px;"/></div>
                <p>No job listings</p>
                <p class="sub-heading" style="margin-bottom: 30px;">You're in demand. Do you actually need to "search"?</p>
            </div>
            <div class="col6">
                <div class="icon"><img src="images/ico05.png" alt="Masked phone numbers" style="width: 133px; margin-top: 55px;"/></div>
                <p>Masked phone numbers</p>
                <p class="sub-heading" style="margin-bottom: 30px;">Your contact info can't be saved in a random monolithic database</p>
            </div>
        </div>
        <!--/row-->
        <div class="btn-getstarted"><a href="/join">Get Started</a></div>
    </section>
    <!--/section2-wrap-->
</div>
<!--/section2 container -->
<div class="container" id="section3">
    <section class="page-wrap">
        <h2 class="headline text-center">How it works</h2>
        <div id="feature1" class="row feature-item">
            <p class="feature-info sub-heading">Specify your ideal commute
                (how far are you willing to go)
                and pay requirements.</p>
            <div class="icon pull-right"><img src="images/ico06.png" alt=""/></div>
        </div>
        <!--/row-->
        <div class="divider"></div>
        <div id="feature2" class="row feature-item">
            <div class="icon pull-left"><img src="images/ico07.png" alt=""/></div>
            <p class="feature-info sub-heading">Brag about some really
                awesome project you’re
                proud of and the technologies
                you used to build them.</p>
        </div>
        <!--/row-->
        <div class="divider2"></div>
        <div id="feature3" class="row feature-item">
            <p class="feature-info sub-heading">We’ll send you a text
                message with the client
                name, pay, and commute
                when a recruiter has a
                matching opportunity.</p>
            <div class="icon pull-right"><img src="images/ico08.png" alt=""/></div>
        </div>
        <!--/row-->
        <div class="divider3"></div>
        <div id="feature4" class="row feature-item" style="margin-top: 30px;">
            <div class="icon pull-left"><img src="images/ico09.png" alt=""/></div>
            <p class="feature-info sub-heading">Reply “Sure” if you like
                the opportunity and want
                your contact information
                sent to the recruiter or
                “Nah” if you are not
                interested.</p>
        </div>
        <!--/row-->
        <div class="btn-getstarted text-center"><a href="/join">Get Started</a></div>
    </section>
    <!--/section3-wrap-->
</div>
<!--/section3 container -->
<!-- Start of Async Drift Code -->
<script>
    !function() {
        var t;
        if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
                t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                t.factory = function(e) {
                    return function() {
                        var n;
                        return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
                    };
                }, t.methods.forEach(function(e) {
            t[e] = t.factory(e);
        }), t.load = function(t) {
            var e, n, o, i;
            e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
                    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
        });
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('9k3rnk3sambg');
</script>
<!-- End of Async Drift Code -->
</body>
</html>
