<% include ./partials/head %>
<% include ./partials/nav %>
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">NSJB.com</span>
                    <span class="skills">Because  good front end developers don't search for jobs.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Features -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>How it works</h2>
            </div>
        </div>
    </div>
</section>

<!-- LinkedIn Sucks -->
<section class="success" id="linkedIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Why we dislike LinkedIn.</h2>
            </div>
        </div>
    </div>
</section>


<!-- Monster Sucks -->
<section id="monster">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Why we dislike Monster.</h2>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>
<% include ./partials/scripts.ejs %>
<% include ./partials/modals.ejs %>

</body>
</html




