<% include ./partials/head %>
<% include ./partials/nav %>
<!-- Contact Section -->
<section ng-app="nsj-slider">
    <nsj-slider></nsj-slider>
</section>
<% include ./partials/footer %>
<script src="/vendor/angular/angular.min.js"></script>
<script src="/app.module.js"></script>
<% include ./partials/scripts.ejs %>
<% include ./partials/modals.ejs %>