<% include ./partials/head %>
<body ng-app="nsj">
<!-- Join  -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12" ng-controller="myCtrl as vm">
                {{vm.test}}

                <input type="text" ng-model="vm.test"/>
            </div>
        </div>
    </div>



<script src="/vendor/angular/angular.min.js"></script>
<script src="/app.module.js"></script>


<script src="/wizard/slider.module.js"></script>
<script src="/wizard/slider.controller.js"></script>
<script src="/wizard/slider.directive.js"></script>
<script src="/wizard/slider.service.js"></script>
<% include ./partials/scripts.ejs %>
<% include ./partials/modals.ejs %>
</body>
</html>
