<% include ./partials/head %>
<% include ./partials/nav %>
<!-- Contact Section -->
<section ng-app="nsj-slider">
    <nsj-slider></nsj-slider>
</section>
<% include ./partials/footer %>
<% include ./partials/scripts.ejs %>
<% include ./partials/modals.ejs %>