<% include ./partials/head %>
<% include ./partials/nav %>

<link rel="stylesheet" href="/vendor/angular-rangeslider/angular.rangeSlider.css">
<body ng-app="search" id="search">
<% if(user) { %>
<script type="text/javascript">
    window.user = window.exports || {};
    window.user.currentUser = <%- JSON.stringify(user._id) %>
</script>
<% } %>
<!-- Join  -->
<div class="dashboard-container container-fluid">
    <nsj-search></nsj-search>
</div>

<% include ./partials/scripts.ejs %>

<script src="/vendor/lodash/dist/lodash.min.js"></script>

<script src="/vendor/angular/angular.min.js"></script>

<script src="/vendor/angular-messages/angular-messages.min.js"></script>

<script src="/vendor/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="/vendor/angular-input-masks/angular-input-masks-standalone.min.js"></script>

<script src='/vendor/angular-google-maps/dist/angular-google-maps.min.js'></script>

<!-- NSJ Main -->
<script src="/search/app.module.js"></script>

<script src="/search/search.service.js"></script>

<script src="/search/nsjSearch.js"></script>

<script src="/search/nsjSearchMap.js"></script>

<script src="/search/skills.service.js"></script>

<script src="/search/randomGreeting.service.js"></script>

<script src='/vendor/toastr/toastr.min.js'></script>

<script src='/vendor/angular-google-maps/dist/angular-google-maps.min.js'></script>

<script src="/vendor/angular-rangeslider/angular.rangeSlider.js"></script>


<script src="/vendor/perfect-scrollbar/min/perfect-scrollbar.min.js"></script>
<script src="/vendor/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>

<script type="text/javascript">
    toastr.options.extendedTimeOut = 0; //1000;
    toastr.options.timeOut = 2000;
    toastr.options.fadeOut = 250;
    toastr.options.fadeIn = 0;
    toastr.options.positionClass =  "toast-bottom-right"
</script>

<!-- TODO: Make API KEY a server variable -->
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyBZnGkLJ3KtI-ZMBWmzMbpUjLFnoA1ej8s"></script>

<% include ./partials/modals.ejs %>
</body>
