<div class="form-group">
  <div class="alert alert-success" ng-class="{'visible' : vm.sucessSignUp}">
    Your sign up was successful. Please check the email address you provided to confirm your account.
  </div>
  <div class="row">
      <div class="col-sm-6 text-lft">
        <h3>Some recruiters waste time on developers who aren't remotely interested ... oh but not you :)</h3>
        <p>Sign up today and begin a search with what's super important to front end developers.</p>
        <div ng-show="vm.hasErrors" class="error-wrapper">
          <div class="help-block" ng-messages="recruiterForm.givenName.$error" ng-messages-multiple>
            <p ng-message="required">First Name is required.</p>
          </div>
          <div class="help-block" ng-messages="recruiterForm.familyName.$error" ng-messages-multiple>
            <p ng-message="required">Last Name is required.</p>
          </div>
          <div class="help-block" ng-messages="recruiterForm.email.$error" ng-messages-multiple>
            <p ng-message="required">Email Address is required.</p>
          </div>
          <div class="help-block" ng-messages="recruiterForm.password.$error" ng-messages-multiple>
            <p ng-message="minlength">Password must be at least 5 characters long.</p>
            <p ng-message="required">Password is required.</p>
          </div>
          <div class="help-block" ng-messages="recruiterForm.companyName.$error" ng-messages-multiple>
            <p ng-message="required">Company name is required.</p>
          </div>
          <div class="help-block" ng-messages="recruiterForm.primaryPhone.$error" ng-messages-multiple>
            <p ng-message="required">Phone number is required.</p>
          </div>
          <div class="help-block" ng-messages="recruiterForm.companyCity.$error" ng-messages-multiple>
            <p ng-message="required">Company city is required.</p>
          </div>
          <div class="help-block" ng-messages="recruiterForm.companyState.$error" ng-messages-multiple>
            <p ng-message="required">Company state is required.</p>
            <p ng-message="maxlength">Must enter state abbreviation.</p>
          </div>
          <div class="help-block" ng-messages="recruiterForm.companyZip.$error" ng-messages-multiple>
            <p ng-message="required">Company zip is required.</p>
            <p ng-message="minlength">Company zip must be 5 characters long.</p>
          </div>
        </div>
        <form name="recruiterForm" class="recruiterForm" ng-submit="vm.signUp(recruiterForm.$valid)" novalidate>
          <input type="text" class="form-control" name="givenName" ng-model="vm.recruiter.givenName" placeholder="First Name" required />
          <input type="text" class="form-control" name="familyName" ng-model="vm.recruiter.familyName" placeholder="Last Name" required />
          <input type="text" class="form-control" name="email" ng-model="vm.recruiter.primaryEmail" placeholder="Email Address" required />
          <input type="password" class="form-control" name="password" ng-model="vm.recruiter.password" placeholder="Password" ng-minlength="5" required />
          <input type="text" class="form-control" name="companyName" ng-model="vm.recruiter.companyName" placeholder="Company Name" required />
          <input type="text" class="form-control" name="primaryPhone" ng-model="vm.recruiter.primaryPhone" placeholder="Phone Number" ui-us-phone-number maxlength="14" required />
          <input type="text" class="form-control company-city" name="companyCity" ng-model="vm.recruiter.companyCity" placeholder="Company City" required />
          <input type="text" class="form-control company-state" name="companyState" ng-model="vm.recruiter.companyState" placeholder="Company State" maxlength="2" required />
          <input type="text" class="form-control" name="companyZip" ng-model="vm.recruiter.companyZip" placeholder="Company Zip" maxlength="5" required />
          <div class="action-wrapper">
            <button type="submit" class="btn btn-success btn-lg">Create my account</button>
          </div>
        </form>
      </div>
    <div class="col-sm-6 text-rgt">
      <h3 style="margin-top: 76px;">Welcome back. Log in below.</h3>
      <p> Please enter your credentials.</p>
      <form name="recruiterLogin" class="recruiterLogin" ng-submit="vm.submitSignin(recruiterLogin.$valid)" novalidate>
        <input type="text" class="form-control" name="email" ng-model="vm.signin.primaryEmail" placeholder="Email Address" required />
        <input type="password" class="form-control" name="password" ng-model="vm.signin.password" placeholder="Password" ng-minlength="5" required />
        <div class="action-wrapper">
          <button type="submit" class="btn btn-success btn-lg">Log In</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>