<div class="search-container">
  <h3>Candidate Search</h3>
  <div class="row">
    <div class="col-sm-4">
      <ul class="comp-list search-page">
        <li></li>
        <li ng-click="vm.selectFulltime()" ng-class="{'selected': vm.fulltimeSelected}">Full Time</li>
        <li ng-click="vm.selectContract()" ng-class="{'selected': vm.contractSelected}">Contract</li>
      </ul>
      <div class="search-hourly" ng-show="vm.contractSelected">
        <label for="givenName">Please provide the maximum hourly rate for this position.</label>
        <div class="form-group">
          <div class="comp-wrapper hourly">
            <input type="text" class="form-control" ng-model="vm.developer.compHr" placeholder="e.g. $65.00" ui-money-mask="2" name="comp" required />
            <span class="comp-unit">/hr</span>
          </div>
        </div>
      </div>
      <div class="search-fulltime" ng-show="vm.fulltimeSelected">
        <label for="givenName">Please provide the maximum yearly salary for this position.</label>
        <div class="form-group">
          <div class="comp-wrapper salary">
            <input type="text" name="comp" class="form-control" ng-model="vm.recruiter.compFt" placeholder="e.g. $100,000" ui-money-mask="0" required />
            <span class="comp-unit">/yr</span>
          </div>
        </div>
      </div>
      <label for="givenName">Please specify a location. This location will be used in providing commute estimations for our developers</label>
      <input type="text" class="form-control" id="givenName" name="givenName" ng-model="vm.recruiter.givenName" placeholder="e.g. Downtown San Francisco" required />
      <nsj-search-google-map></nsj-search-google-map>
    </div>
    <div class="col-sm-8">
      fdsafdsafdsafdsafdsafdsafdasf
    </div>
  </div>
</div>