
{{> head}}
<body id="page-top" class="index">
  {{> nav user=user}}
  {{{body}}}
  {{> footer user=user}}
  {{> scrollTop user=user}}
  {{> modals user=user}}
  {{> scripts user=user}}
</body>

</html>
