<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>DontHateRecruiters.com</title>  
    <% include ../partials/head.ejs %>  
</head> 

<body class="home-page">
    <div class="wrapper">
    	<% include ../partials/header.ejs %>
        <section class="section">
        	<div class="container">
        		<div class="dashboard-container">
        		<div class="row">
        			<div class="col-sm-3 menu-column">
			    		<ul id="dashboard-tabs" class="dashboard-tabs">
							<li class="contact-link active"><i class="fa fa-users"></i> Contact Requests</li>
							<li class="location-link"><i class="fa fa-map-marker"></i> My Locations</li>
							<li class="reviews-link"><i class="fa fa-comments"></i> Reviews Submitted</li>
							<li class="favorite-link"><i class="fa fa-star"></i> Favorite Recruiters</li>
			    		</ul>
        			</div>
        			<div class="col-sm-6 dashboard-body">
        			</div>
        			<div class="col-sm-3">
        				<p>adfds</p>
        			</div>
        		</div>
	    		</div>
        	</div>
    	</section>
    </div><!--//wrapper-->
    <% include ../partials/footer.ejs %>  
    <% include ../partials/modals.ejs %>
    <% include ../partials/javascript.ejs %>          
</body>
</html> 

