<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>DontHateRecruiters.com</title>  
    <% include ../partials/head.ejs %>  
</head> 

<body class="home-page">

    <!-- * Facebook Like button script starts -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- * Facebook Like button script ends -->
    
    <div class="wrapper">
    <% include ../partials/header.ejs %>
        <!-- ******//Signup ****** --> 
        <section class="section signup-section">
            <div class="signup-container">
                <h2 class="title text-center">Get Started</h2>
                <div class="social-login text-center">       
                    <ul class="list-unstyled social-login">
                        <li><button class="linkedin-btn btn" type="button"><i class="fa fa-linkedin"></i>Sign up with LinkedIn</button></li>
                        <li><button class="google-btn btn" type="button"><i class="fa fa-google-plus"></i>Sign up with Google</button></li>
                        <li><button class="github-btn btn" type="button"><i class="fa fa-github"></i>Sign up with GitHub</button></li>
                    </ul>
                </div>
                <form class="form-horizontal" method="post" action="/api/candidate">
                    <div class="form-group">
                        <label for="firstName" class="control-label col-xs-4">First Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="control-label col-xs-4">Last Name</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress" class="control-label col-xs-4">Email Address</label>
                        <div class="col-xs-8">
                            <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userName" class="control-label col-xs-4">Username</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="userName" id="userName" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label col-xs-4">Password</label>
                        <div class="col-xs-8">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rate" class="control-label col-xs-4">Rate</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="rate" id="rate" placeholder="Rate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="control-label col-xs-4">Location</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="location" id="location" placeholder="Location">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tech" class="control-label col-xs-4">Tech Stack</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="tech" id="tech" placeholder="Technology Stack">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-cta-primary">Sign Up</button>
                </form>
            </div>
        </section>  
    </div><!--//wrapper-->
    <% include ../partials/footer.ejs %>  
    <% include ../partials/modals.ejs %>
    <% include ../partials/javascript.ejs %>          
</body>
</html> 

