<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Document</title>
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <h2>Hello Grunt!</h2>
    <div class="row">
	    <div class="small-4 columns">
	    	1
	    </div>
	    <div class="small-4 columns">
	    	2
	    </div>
	    <div class="small-4 columns">
	    	3
	    </div>
	</div>
    <script src="scripts/scripts.min.js"></script>
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <!-- script src="http://localhost:35729/livereload.js"></script-->
</body>
</html>