<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Document</title>
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <h2>Hello Grunt!</h2>
    <div class="row">
	    <div class="small-4 columns">
	    	<form method="post" action="/api/candidate">
	    		<input type="text" name="firstName" placeholder="First Name" />
	    		<br />
	    		<input type="text" name="lastName" placeholder="Last Name" />
	    		<br />
	    		<input type="text" name="userName" placeholder="User Name" />
	    		<br />
	    		<input type="text" name="emailAddress" placeholder="Email Address" />
	    		<br />
	    		<input type="password" name="password" placeholder="Password" />
	    		<br />
	    		<input type="text" name="location" placeholder="Location?" />
	    		<br />
	    		<input type="text" name="position" placeholder="Position?" />
	    		<br />
	    		<input type="text" name="technologies" placeholder="Technologies" />
	    		<br />
	    		<input type="text" name="emplyType" placeholder="Employment Type?" />
	    		<br />
	    		<input type="text" name="comp" placeholder="Compenstation?"/>
	    		<br />
	    		<input type="submit" />
	    	</form>
	    </div>
	    <div class="small-4 columns">
	    	2
	    </div>
	    <div class="small-4 columns">
	    	3
	    </div>
	</div>
    <script src="scripts/scripts.min.js"></script>
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <!-- script src="http://localhost:35729/livereload.js"></script-->
</body>
</html>