<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>DontHateRecruiters.com</title>  
    <% include ../partials/head.ejs %>  
</head> 

<body class="home-page">

    <!-- * Facebook Like button script starts -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- * Facebook Like button script ends -->
    
    <div class="wrapper">
    <% include ../partials/header.ejs %>
        <!-- ******//Signup ****** --> 
        <section class="section signup-section">
            <h2 class="title text-center" style="margin-bottom: 25px;">OMG!, Job Seach Bliss for everyone? ...</h2>
            <div class="signup-container">
                <div class="row">
                    <div class="col-sm-12" >
                        <div class="form-group" style="text-align: center;">
                            <div id="form-type" class="form-type btn-group" role="group" aria-label="...">
                              <button type="button" class="btn btn-default active" data-value="candidate-form"><i class="fa fa-check"></i>I'm an awesome techie</button>
                              <button type="button" class="btn btn-default" data-value="recruiter-form"><i class="fa fa-check"></i>I'm an awesome recruiter</button>
                            </div>
                        </div>
                    </div>
                    <div style="border-right: 1px solid #ccc;" class="col-sm-6 signup-column columns">
                        <form id="candidate-form" class="form-horizontal" method="post" action="/api/candidate">
                            <div class="form-group">
                                <label for="firstName" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="emailAddress" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userName" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="userName" id="userName" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <label for="tech" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <button type="submit" class="btn btn-block btn-cta-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <form id="recruiter-form" class="form-horizontal" method="post" action="/api/recruiter">
                            <div class="form-group">
                                <label for="companyName" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="companyName" id="companyName" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name ">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="userName" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="userName" id="userName" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="emailAddress" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <label for="tech" class="control-label col-xs-3"></label>
                                <div class="col-xs-9">
                                    <button type="submit" class="btn btn-block btn-cta-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6 signup-column columns">
                        <ul class="sign-up-list">
                            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
                            <li>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</li>
                            <li>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>  
    </div><!--//wrapper-->
    <% include ../partials/footer.ejs %>  
    <% include ../partials/modals.ejs %>
    <% include ../partials/javascript.ejs %>          
</body>
</html> 

