<div class="wizard-wrapper container-fluid">
    <div class="wizard-indicator-row">
      <ul id="wizard-indicator" class="wizard-indicator">
        <li ng-class="{'active': vm.currentStep > 0}" ng-click="vm.setStep(0)">
          <span class="step-name">Location:</span>
          <span>{{vm.location}}</span>
        </li>
        <li ng-class="{'active': vm.currentStep > 1}" ng-click="vm.setStep(1)">
          <span class="step-name">Technologies:</span>
          <span>{{vm.selectedSkills[0]+','}}</span>
          <span>{{vm.selectedSkills[1]+' ...'}}</span>
        </li>
        <li ng-class="{'active': vm.currentStep > 2}" ng-click="vm.setStep(2)">
          <span class="step-name">Projects:</span>
          <span>{{vm.projects}}</span>
        </li>
        <li ng-class="{'active': vm.currentStep > 3}" ng-click="vm.setStep(3)">
          <span class="step-name">Pay:</span>
          <span>{{vm.comp}}</span>
        </li>
      </ul>
    </div>
    <div id="wizard-progress" class="wizard-progress" nsj-fade-indicator style="width: {{vm.getProgressWidth()}}"></div>
    <div class="row">
      <div class="col-xs-12">
        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 0}">
          <h3>In which location would you like to work?</h3>
          <p>We want to make sure you only hear about opportunities near this location.{{vm.progress}}</p>
          <input type="text" ng-model="vm.location" placeholder="e.g. Downtown Chicago">
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
        </div>

        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 1}">
          <h3>What technologies are you using?</h3>
          <p>In the next step we'll ask about projects where the selected technologies were used.</p>
          <ul class="wizard-tech">
            <li ng-repeat="skill in vm.skills"
                ng-click="vm.handleSkillToggle(skill)"
                ng-class="{'selected': vm.selectedSkills.indexOf(skill) > -1}">
              <button>
                {{skill}}
                <i ng-if="vm.selectedSkills.indexOf(skill) > -1" class="fa fa-check" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
          <button type="submit" class="btn btn-info btn-lg" ng-click="vm.resetSkills()">Reset</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.previousStep()">Go Back.</button>
        </div>


        <div class="wizard-step-container wizard-projects" ng-class="{'active': vm.currentStep == 2}">
          <h3>Tell us about some projects you are proud of.</h3>
          <p>Brag a little. :) <br />Hiring managers like to hear about specific contributions.</p>
          <div class="row">
            <div class="col-sm-12">
              <ul class="wizard-tech" ng-show="vm.showTechList">
                <li ng-repeat="skill in vm.selectedSkills"
                    ng-class="{'selected': vm.selectedSkills.indexOf(skill) > -1}">
                  <button>
                    {{skill}}
                    <i ng-if="vm.selectedSkills.indexOf(skill) > -1" class="fa fa-check" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 wizard-projects-right">
              <div class="tech-used-wrapper">

              </div>
              <button type="submit" class="btn btn-info btn-sm addSkills" ng-click="vm.toggleTechList()">Add Technologies</button>
              <input type="text" ng-model="vm.projects" placeholder="Enter a project name ...">
              <input type="text" ng-model="vm.projects" placeholder="Enter a client name ...">
              <input type="text" ng-model="vm.projects" placeholder="Enter a url (optional)...">
            </div>
            <div class="col-sm-6 wizard-projects-left">
              <textarea placeholder="Talk about your contributions to the project. How did you use the selected technologies?"></textarea>
            </div>
          </div>

          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.previousStep()">Go Back.</button>
        </div>



        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 3}">
          <h3>Lets talk moula!</h3>
          <p>Specify your desired compensation.</p>
          <p></p>
          <input type="text" ng-model="vm.comp" placeholder="e.g. $100,000">
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.previousStep()">Go Back.</button>
        </div>


        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 4}">
          <h3>... aaand you're done.</h3>
          <p>Enter a email address and password to create an account.</p>
          <input type="text" placeholder="Email Address" />
          <input type="password" placeholder="Password?" />
          <button type="submit" class="btn btn-success btn-lg">Create my account</button>
        </div>

      </div>
    </div>
  </div>
