<div class="wizard-wrapper container-fluid">
    <div class="wizard-indicator-row">
      <ul id="wizard-indicator" class="wizard-indicator">
        <li ng-class="{'active': vm.currentStep > 0}" ng-click="vm.setStep(0)">
          <span class="step-name">Location:</span>
          <span>{{vm.location}}</span>
        </li>
        <li ng-class="{'active': vm.currentStep > 1}" ng-click="vm.setStep(1)">
          <span class="step-name">Technologies:</span>
          <span>{{vm.tech}}</span>
        </li>
        <li ng-class="{'active': vm.currentStep > 2}" ng-click="vm.setStep(2)">
          <span class="step-name">Projects:</span>
          <span>{{vm.projects}}</span>
        </li>
        <li ng-class="{'active': vm.currentStep > 3}" ng-click="vm.setStep(3)">
          <span class="step-name">Pay:</span>
          <span>{{vm.comp}}</span>
        </li>
      </ul>
    </div>
    <div id="wizard-progress" class="wizard-progress">{{vm.getCurrentStep().stepName}}
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 0}">
          <h3>In which location would you like to work?</h3>
          <p>We want to make sure you only hear about opportunities near this location.{{vm.progress}}</p>
          <input type="text" ng-model="vm.location" placeholder="e.g. Downtown Chicago">
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
        </div>

        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 1}">
          <h3>What technologies are you using?</h3>
          <p>Next we'll ask about projects where the selected technologies were used.</p>
          <ul class="wizard-tech">
            <li ng-repeat="skill in vm.skills"
                ng-click="vm.handleSkillToggle(skill)"
                ng-class="{'selected': vm.selectedSkills.indexOf(skill) > -1}">{{skill}}</li>
          </ul>
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.previousStep()">Go Back.</button>
        </div>


        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 2}">
          <h3>Tell us about some projects you are proud of.</h3>
          <p>Brag a little ... hiring managers like to hear about specific contributions.</p>
          <div class="row">
            <div class="col-lg-6">
              <input type="text" ng-model="vm.projects" placeholder="e.g. Awesome project">
            </div>
          </div>

          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.previousStep()">Go Back.</button>
        </div>



        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 3}">
          <h3>Lets talk moula!</h3>
          <p>Specify your desired compensation.</p>
          <p></p>
          <input type="text" ng-model="vm.comp" placeholder="e.g. $100,000">
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.previousStep()">Go Back.</button>
        </div>


        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 4}">
          <h3>You're done.</h3>
          <p>Enter a email address and password to create an account.</p>
          <input type="text" placeholder="Email Address" />
          <input type="password" placeholder="Password?" />
          <button type="submit" class="btn btn-success btn-lg">I'm done</button>
        </div>

      </div>
    </div>
  </div>
