<div class="wizard-wrapper container-fluid">
    <div class="wizard-indicator-row">
      <ul id="wizard-indicator" class="wizard-indicator">
        <li ng-class="{'active': vm.hasLocation}" ng-click="vm.goToLocation()">
          <span class="step-name">Location:</span>
          <span>{{vm.location}}</span>
        </li>
        <li ng-class="{'active': vm.hasTech}" ng-click="vm.goToTech()">
          <span class="step-name">Technologies:</span>
          <span>{{vm.tech}}</span>
        </li>
        <li ng-class="{'active': vm.hasProjects}" ng-click="vm.goToProjects()">
          <span class="step-name">Projects:</span>
          <span>{{vm.projects}}</span>
        </li>
        <li ng-class="{'active': vm.hasComp}" ng-click="vm.goToComp()">
          <span class="step-name">Pay:</span>
          <span>{{vm.comp}}</span>
        </li>
      </ul>
    </div>
    <div id="wizard-progress" class="wizard-progress"></div>
    </div>
    <div class="row">
      <div class="col-xs-12">



        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 'location'}">
          <h1>{{vm.test}}</h1>
          <a href="" ng-click="updateTest">click here</a>
          <h3>In which location would you like to work?</h3>
          <p>We want to make sure you only hear about opportunities near this location.{{vm.progress}}</p>
          <form novalidate="">
            <div class="row control-group row-form">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Be specific :)</label>
                <input type="text" class="form-control" placeholder="e.g. Downtown Chicago" ng-model="vm.location" id="name" required="" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </form>
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.setLocation()">Okay I'm done</button>
        </div>

        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 'tech'}">
          <h3>What technologies are you using?</h3>
          <p>Next we'll ask about projects where the selected technologies were used.</p>
          <ul class="wizard-tech">
            <li>Angular</li>
            <li>React.js</li>
            <li>Angular</li>
            <li>Angular</li>
            <li>Angular</li>
            <li>Angular</li>
            <li>Angular</li>
          </ul>
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.setTech()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.goToLocation()"">Go Back.</button>
        </div>


        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 'projects'}">
          <h3>Tell us about some projects you are proud of.</h3>
          <p>Brag a little ... hiring managers like to hear about specific contributions.</p>
          <div class="row">
            <div class="col-lg-6">
              <form novalidate="">
                <div class="row control-group row-form">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>What technologies have you used?</label>
                    <input type="text" class="form-control" placeholder="Project Name" ng-model="vm.projects" id="name" required="" data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="row control-group row-form">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>What technologies have you used?</label>
                    <input type="text" class="form-control" placeholder="Company" ng-model="vm.projects" id="name" required="" data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-6">
              <form novalidate="">
                <div class="row control-group row-form">
                  <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>What technologies have you used?</label>
                    <fieldset class="form-group">
                      <label>What technologies have you used?</label>
                      <textarea class="form-control" id="exampleTextarea" placeholder="Describe the project. How'd you use the specified technologies?" ng-model="vm.projects" rows="3"></textarea>
                    </fieldset>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.setProjects()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.goToTech()"">Go Back.</button>
        </div>



        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 'comp'}">
          <h3>Lets talk moula!</h3>
          <p>Specify your desired compensation.</p>
          <p></p>
          <form novalidate="">
            <div class="row control-group row-form">

              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Lets talk moula?</label>
                <input type="text" class="form-control" placeholder="e.g. $100,000" ng-model="vm.comp" id="name" required="" data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </form>
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.setComp()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.goToProjects()"">Go back.</button>
        </div>


        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 'creds'}">
          <h3>You're done.</h3>
          <p>Enter a email address and password to create an account.</p>
          <input type="text" placeholder="Email Address" />
          <input type="password" placeholder="Password?" />
          <button type="submit" class="btn btn-success btn-lg">I'm done</button>
        </div>

      </div>
    </div>
  </div>
