<script type="application/javascript">
  (function(doc) {

    var addEvent = 'addEventListener',
      type = 'gesturestart',
      qsa = 'querySelectorAll',
      scales = [1, 1],
      meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];

    function fix() {
      meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
      doc.removeEventListener(type, fix, true);
    }

    if ((meta = meta[meta.length - 1]) && addEvent in doc) {
      fix();
      scales = [.25, 1.6];
      doc[addEvent](type, fix, true);
    }

  }(document));



</script>

<div class="wizard-wrapper container-fluid">
    <div class="wizard-indicator-row">
      <ul id="wizard-indicator" class="wizard-indicator">
        <li ng-class="{'active': vm.currentStep > 0}" ng-click="vm.setStep(0)">
          <span class="step-name">Location:</span>
          <span>{{vm.location}}</span>
        </li>
        <li ng-class="{'active': vm.currentStep > 1}" ng-click="vm.setStep(2)">
          <span class="step-name">Projects:</span>
          <span>{{vm.projects}}</span>
        </li>
        <li ng-class="{'active': vm.currentStep > 2}" ng-click="vm.setStep(3)">
          <span class="step-name">Pay:</span>
          <span>{{vm.comp}}</span>
        </li>
      </ul>
    </div>
    <div id="wizard-progress" class="wizard-progress" style="width: {{vm.getProgressWidth()}}"></div>
    <div class="row">
      <div class="col-xs-12">

        <!-- Location -->

        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 0}">
          <h3>In which location would you like to work?</h3>
          <p>We want to make sure you only hear about opportunities near this location.{{vm.progress}}</p>
          <input type="text" ng-model="vm.location" placeholder="e.g. Downtown Chicago " autofocus>
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
        </div>

        <!-- Projects -->

        <div class="wizard-step-container wizard-projects" ng-class="{'active': vm.currentStep == 1}">
          <h3>Tell us about some projects you are proud of.</h3>
          <p>Brag a little :) <br />Hiring managers like to hear about specific contributions.</p>
          <div class="wizard-project" ng-repeat="project in vm.projects track by $index">
            <div class="row">
              <div class="col-sm-12">
                <h5 class="wizard-project-name">
                  <i class="fa fa-area-chart" aria-hidden="true"></i>
                  {{project.name}}
                </h5>
                <h6 class="wizard-client" ng-show="project.client">{{project.client}}</h6>
                <span class="wizard-edit" ng-click="vm.setEditingProjectIndex($index)">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  Edit
                </span>
                <span class="wizard-remove" ng-click="vm.removeHelper($index)">
                  <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                  Remove
                </span>
              </div>
            </div>
            <div class="row">
              <div class="wizard-project-item" ng-show="vm.projects.length">
                <h5 class="wizard-projectName" ng-show="vm.project.name !== ''">{{vm.project.name}}</h5>
                <h5 class="wizard-projectName" ng-hide="vm.project.name !== ''">(New Project)</h5>
                <span class="wizard-client" ng-show="vm.project.client ">{{vm.project.client}}</span>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- Adding Project -->

            <div class="col-sm-6 wizard-projects-right">
              <div ng-hide="vm.isEditing">
                <input type="text" ng-model="vm.newProject.name" placeholder="Enter a project name ..." autofocus>
                <input type="text" ng-model="vm.newProject.client" placeholder="Enter a client name ...">
                <input type="text" ng-model="vm.newProject.url" placeholder="Enter a url (optional)...">
                <textarea ng-model="vm.newProject.desc" placeholder="Talk about your contributions to the project. How did you use the selected technologies?"></textarea>
                <button type="submit"  class="btn btn-sm add-project-desktop" ng-click="vm.createHelper(vm.newProject)">Add Project</button>
              </div>
              <div ng-show="vm.isEditing">
                <input type="text" ng-model="vm.currentEditProject.name">
                <input type="text" ng-model="vm.currentEditProject.client">
                <input type="text" ng-model="vm.currentEditProject.url">
                <textarea ng-model="vm.currentEditProject.desc"></textarea>
                <button type="submit"  class="btn btn-sm add-project-desktop">Save Edits</button>
              </div>
            </div>

            <!-- Skills Add -->

            <div class="col-sm-6 wizard-projects-left">
              <ul class="wizard-tech">
                <li ng-repeat="skill in vm.skills"
                    ng-click="vm.handleSkillToggle(skill)"
                    ng-class="{'selected': vm.selectedSkills.indexOf(skill) > -1}">
                  <button>
                    {{skill}}
                    <i ng-if="vm.selectedSkills.indexOf(skill) > -1" class="fa fa-check" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
              <button type="submit"  class="btn btn-sm add-project-mobile" ng-click="vm.addProject(vm.newProject)">Add Project</button>
            </div>
          </div>
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.previousStep()">Go Back.</button>
        </div>


        <!-- Pay -->

        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 2}">
          <h3>Lets talk moula!</h3>
          <p>Specify your desired compensation.</p>
          <p></p>
          <input type="text" ng-model="vm.comp" placeholder="e.g. $100,000" autofocus>
          <br />
          <button type="submit" class="btn btn-success btn-lg" ng-click="vm.nextStep()">Okay I'm done</button>
          <button type="submit" class="btn btn-link btn-lg" ng-click="vm.previousStep()">Go Back.</button>
        </div>


        <!-- Done -->

        <div class="wizard-step-container" ng-class="{'active': vm.currentStep == 3}">
          <h3>... aaand you're done.</h3>
          <p>Enter a email address and password to create an account.</p>
          <input type="text" placeholder="Email Address" />
          <input type="password" placeholder="Password?" />
          <button type="submit" class="btn btn-success btn-lg">Create my account</button>
        </div>

      </div>
    </div>
  </div>
