<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <h2>Hello Grunt!</h2>
    <div class="row">
	    <div class="small-4 columns">
	    	<form method="post" action="/login/candidate">
	    		<input type="text" name="emailAddress" placeholder="Email Address?" />
	    		<br />
	    		<input type="password" name="password" placeholder="Password?" />
	    		<br />
	    		<input type="submit" />
	    	</form>
	    </div>
	    <div class="small-4 columns">
		<% if (user) { %>
			<%= user.name %>
		<% } %> 
	    </div>
	    <div class="small-4 columns">
	    	3
	    </div>
	</div>
    <script src="scripts/scripts.min.js"></script>
    <script data-main="scripts/main" src="scripts/require.js"></script>
    <!-- script src="http://localhost:35729/livereload.js"></script-->
</body>
</html>